
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <link href="@Url.Content("~/Content/SiteCSS.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="header">
        <div class="overlay"></div>
        <div class="website_name">
            <a href="@Url.Action("Index", "Home")">АнтиКонтрафакт</a>
        </div>
        <div class="QMark"><a href="@Url.Action("Info", "Home")"><img src="@Url.Content("~/Images/Home_qmark.png")" width="49" height="51" /></a></div>
    </div>
    <div class="content7">
        <div class="messageforuser"><p align="center">@{try { @ViewBag.Message; } catch { } }</p></div>
        @using (Html.BeginForm())
        {
            <input type="hidden" name="PassVal" value="">
            <input class="continueb" type="submit" value="Продолжить" />
        }
    </div>
    <div class="footer">
        <div class="author_label">
            <div class="authors">Дорышин М.О., Малкова С.А., Лебедева А.И.</div>
        </div>
    </div>
</body>
</html>
